/* You can add global styles to this file, and also import other style files */
/* @import '@primeuix/themes/aura'; */
/* @import 'primeng/resources/primeng.css'; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
